<!DOCTYPE html>
<html lang="en">
<head>
  <title>FintechAI-project-home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/style.css">
  <link rel="stylesheet" href="../static/profolio.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

 <header class="header">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="logo">
               <a href="./index.html">賴打財經新聞報</a>
            </div>
            <button type="button" class="nav-toggler">
               <span></span>
            </button>
            <nav class="nav">
               <ul>
                  <li><a href="./index.html">首頁</a></li>
                  <li><a href="./profolio.html"  class="active">關於我們</a></li>
                  <li><a href="#">財經新聞</a></li>
                  <li><a href="#">我的收藏</a></li>
               </ul>
            </nav>
            <div class="login">
              <a href="./templates/login.html">登入</a>
            </div>
        </div>
    </div>
 </header>
<!-- main -->
<section class="idea">
   <h1>專案理念</h1>
   <span> <br>&nbsp  &nbsp &nbsp&nbsp過去幾十年，人們獲取資訊的手段有限，但是從資訊產業蓬勃發展以來，人人手上都有一台手機，並且能更輕易的連上網路獲得資訊，反而面臨資訊過多的問題。近年來更出現假訊息、假新聞，人們要比從前還要謹慎地判讀、分析資訊。但是在瞬息萬變投資交易市場，相差一點點的時間都可能失去獲利的機會，更甚者導致嚴重的虧損。因此快速的判讀資訊的能力對於投資人是非常重要的，而TNA就是您最好的幫手。<br><br>

    &nbsp &nbsp &nbsp &nbspTNA專門分析財經新聞，新聞的來源是五大網路新聞網(Yahoo!、工商時報、自由時報、中國時報、鉅亨網)的即時財經新聞，應用機器學習中的自然語言處理(NLP)，採用Google提出的BERT技術，預測新聞會對台股加權指數造成多大程度的影響，並且提供使用者會造成大波動的新聞。<br><br>
    
    &nbsp &nbsp &nbsp &nbsp使用TNA可以隨時獲得最新、最重要的情報，並且可以設定產業、挑選投資領域，TNA能提供更合乎需求的資訊，而在將來，TNA不只能分析台股加權指數，還能預測那斯達克指數、道瓊指數、日經指數等，TNA絕對是您可以信賴的好幫手。<br><br></span>
</section>
<section class="team">
    <div class="container">
      <div class="row">
        <div class="team-item">
          <div class="img-box">
            <img src="https://pic.616pic.com/ys_img/00/08/69/bW7OT55QAA.jpg" alt="team img">
            <div class="social-links">
              <a href="#">facebook</a>
              <a href="#">twitter</a>
              <a href="#">instagram</a>
              <a href="#">youtube</a>
            </div>
          </div>
          <h3>吳直諺</h3>
          <p>#工作內容</p>
        </div>
        <div class="team-item">
          <div class="img-box">
            <img src="https://pic.616pic.com/ys_img/00/08/69/bW7OT55QAA.jpg" alt="team img">
            <div class="social-links">
              <a href="#">facebook</a>
              <a href="#">twitter</a>
              <a href="#">instagram</a>
              <a href="#">youtube</a>
            </div>
          </div>
          <h3>賴遠杰</h3>
          <p>#工作內容</p>
        </div>
        <div class="team-item">
          <div class="img-box">
            <img src="https://pic.616pic.com/ys_img/00/08/69/bW7OT55QAA.jpg" alt="team img">
            <div class="social-links">
              <a href="#">facebook</a>
              <a href="#">twitter</a>
              <a href="#">instagram</a>
              <a href="#">youtube</a>
            </div>
          </div>
          <h3>黃威捷</h3>
          <p>#工作內容</p>
        </div>
      </div>
      <div class="row">
         <!-- <div class="team-item">
           <div class="img-box">
             <img src="img/1.jpg" alt="team img">
             <div class="social-links">
               <a href="#">facebook</a>
               <a href="#">twitter</a>
               <a href="#">instagram</a>
               <a href="#">youtube</a>
             </div>
           </div>
           <h3>sonu singh</h3>
           <p>web developer</p>
         </div> -->
         <div class="team-item">
           <div class="img-box">
             <img src="https://pic.616pic.com/ys_img/00/08/69/bW7OT55QAA.jpg" alt="team img">
             <div class="social-links">
               <a href="#">facebook</a>
               <a href="#">twitter</a>
               <a href="#">instagram</a>
               <a href="#">youtube</a>
             </div>
           </div>
           <h3>曾璟程</h3>
           <p>#工作內容</p>
         </div>
         <div class="team-item">
           <div class="img-box">
             <img src="https://pic.616pic.com/ys_img/00/08/69/bW7OT55QAA.jpg" alt="team img">
             <div class="social-links">
               <a href="#">facebook</a>
               <a href="#">twitter</a>
               <a href="#">instagram</a>
               <a href="#">youtube</a>
             </div>
           </div>
           <h3>呂文傑</h3>
           <p>#工作內容</p>
         </div>
       </div>
    </div>
  </section>
 <!-- footer -->
 <footer class="footer">
   <div class="container">
      <div class="row">
         <div class="footer-col">
            <h4>標題</h4>
            <ul>
               <li><a href="#">1</a></li>
               <li><a href="#">1</a></li>
               <li><a href="#">1</a></li>
               <li><a href="#">1</a></li>
            </ul>
         </div>
         <div class="footer-col">
            <h4>標題</h4>
            <ul>
               <li><a href="#">1</a></li>
               <li><a href="#">1</a></li>               <li><a href="#">1</a></li>               <li><a href="#">1</a></li>
            </ul>
         </div>

         <div class="footer-col">
            <h4>follow us</h4>
            <div class="social-links">
               <a href="#"><i class="fab fa-facebook-f"></i></a>
               <a href="#"><i class="fab fa-twitter"></i></a>
               <a href="#"><i class="fab fa-instagram"></i></a>
               <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
         </div>
      </div>
   </div>
   <div class="footer-bottom">
      &copy; FINTECH AI GROUP2 | IAN
   </div>
</footer>


 
<!-- javascript  -->
<script src="js/script.js"></script>
<script defer src="https://use.fontawesome.com/
releases/v5.0.0/js/all.js"></script>
</body>
</html>
